<p>Задача:  сделать проект на Rails на github</p>
<p>все контроллеры и модели покрыть тестами RSpec</p>
<p>Rails 5.2.4 Ruby 2.6+</p>
<p>Проект должен быть задеплоен на Heroku(https://devcenter.heroku.com/articles/getting-started-with-rails5)</p>
<br>
<p>Git: каждый коммит завершен, и должен иметь короткое описание на англ языке, в гите надо настроить имя и эл почту надо прописать в конфигах гита.</p>
<p>изменения проводить коммитами, чтоб был виден прогресс</p>
<br>
<p>Проект - система учета задач в проекте.</p>
<p>Обычные юзеры могут создавать проекты, добавлять в них таски писать комменты и комменты на комменты. И так далее, всё в соответствии со связями</p>
<p>Админ может назначать юзеров в команды. Может создавать/обновлять/удалять проекты, таски, команды.</p>
<br>
<p>Должна быть страница, на которую можно попасть с Dashboard, где находятся все Task юзера. Где должна быть пагинация и на странице находиться до 20 штук.</p>
<p>И есть возможность поиска task по названию и фильтр по проекту. Кнопки перехода на страницы должны работать через link_to и параметром remote: true. А а search форма отправлялась с помощью JS + Ajax.</p>
<br>
<p>Технологии:</p>
<p>Всё доступно после логина, использовать devise</p>
<p>для ролей Admin і User - использовать cancancan</p>
<p>база данных MySQL</p>
<p>на важных колонках по выборкам должны быть проставлены индексы.</p>
<p>использовать bootstrap для верстки.</p>
<br>
<p>seeds.rb - должны быть написаны с помощью factory_bot. - задача забить каждую таблицу записями - не менее 200-300 записей в таблицу.</p>
<br>
<p>модели:</p>
<p>Project(name, summary, start_date, end_date)</p>
<p>Team(name)</p>
<p>User(email, password, first_name, last_name, admin)</p>
<p>Task(title, content, image, status, start_date, due_date, estimation)</p>
<p>Comment(content) - комменты отображаются для каждого проекта списком на dashboard юзера. (Страница Dashboard Юзера должна быть root страницей.)</p>
<br>
<p>Все поля должны иметь валидации, если необходимо то и на уникальность</p>
<br>
<p>Описание связей в проекте, использовать таблицы связей</p>
<p>project has many tasks (использовать nested resources)</p>
<p>project has team</p>
<p>team has many users</p>
<p>user has many tasks</p>
<p>user has many comments</p>
<p>user can be without project, team, comments (:optional)</p>
<p>Project has many comments(polymorphic)</p>
<p>Task has many comments(polymorphic)</p>
<p>Comment has many comments</p>
<p>Comment belongs to user</p>
<p>Team has many projects</p>
<p>Project has many teams</p>
<p>связи могут быть неоптимальными, если надо - оптимизировать связи</p>
<br>
<p>репорты:</p>
<p>кол-во  задач на юзере, кол-во выполненных задач, кол-во задач в проектах, кол-во закрытых и открытых задач</p>
<br>
<p>вывод репорта на странице админа</p>
<br>
<p>SQL заданне</p>
<br>
<p>написать Select:</p>
<p>1. Два запроса для юзера:</p>
<p>Кол-во проектов у которых юзеры без задач</p>
<p>кол-во проектов с задачами. Отсортировать по кол-ву задач и дате старта.</p>
<p>2. DISTINCT - написать 2 разных селекта. С повторами и без.Если надо - можно добавить повторяющиеся данные в БД</p>
<p>3. Выбрать кол-во комментов для каждого проекта.</p>

