<!--<h3>Your teams: @teams.user</h3>-->
<!--<h2>Your projects: @projects.user</h2>-->
<!--<h1>Your tasks: @tasks.user</h1>-->
<h3>Your ID in system: <%= @user.id %></h3>
<h3>Your team: "<%= @user.team_name %>"</h3>
<h3>Your have projects: "<%= @user.projects.length %>"</h3>
<h3>Your have tasks: "<%= @user.tasks.length %>"</h3>