// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%; /* Ширина таблицы */
  background: white; /* Цвет фона таблицы */
  color: white; /* Цвет текста */
  border-spacing: 1px; /* Расстояние между ячейками */
}

td, th {
  background: gray; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг текста */
}
